<div class="card">
  <div class="card-header">
    <h3>{{blog_title}}</h3>
    <p>Created by {{user_name}} on: {{format_date createdAt}}</p>
  </div>
  <div class="card-body">
    <p>{{blog_description}}</p>
    <div class="blog-preview-bottom">
      <a href="/api/blogpost/{{id}}"><h4 class="view-blog-link">View Blog</h4></a>
      <p>Comments: {{comments.length}}</p>
    </div>
  </div>
</div>