<div class="card">
  <div class="card-header">
    <h3>{{thisBlogPost.blog_title}}</h3>
    <p class="medium-text creation-details">Created by
      {{thisBlogPost.user.user_name}}
      on:
      {{format_date thisBlogPost.createdAt}}</p>
  </div>
  <div class="card-body">
    <p>{{thisBlogPost.blog_description}}</p>
    {{#if thisUser}}
    <div id="my-blog-actions">
      <a href="/update/{{thisBlogPost.id}}" id="update-blog"><h4>Update Blog</h4></a>
      <a href="" id="delete-blog"><h4>Delete Blog</h4></a>
    </div>
    {{/if}}
  </div>
</div>
{{#each thisBlogPost.comments as |comment|}}
{{> comment}}
{{/each}}

<div class="card">
  <div class="card-header">
    <h3>Leave a comment</h3>
  </div>
  <div class="card-body">
    <div class="input-div">
    <label for="comment-form">Type Here</label>
    <textarea type="text" name="comment-form" id="comment-form"></textarea>
    </div>
    <button id="save-comment">Submit Comment</button>
  </div>
</div>
    {{#if thisUser}}
<script src="/js/blogpost.js"></script>
    {{/if}}
